language: python

python:
- '2.7'

before_script:
- yes | python setup.py install
- git clone https://github.com/uc-cdis/dictionaryutils

script:
- cd dictionaryutils; ./run_tests.sh; cd ..

before_deploy:
- if [ ! -z $TRAVIS_TAG ]; then sed -i.bak "s/=get_version()/='$TRAVIS_TAG'/g" setup.py; fi
- if [ ! -z $TRAVIS_TAG ]; then cat setup.py; fi
- if [ ! -z $TRAVIS_TAG ]; then if [ $(python setup.py --version) == '0.0.0' ]; then travis_terminate 1; fi; fi

deploy:
  - provider: s3
    access_key_id: AKIAIKM5YAHQGFDE72SQ
    secret_access_key:
      secure: ZTcjEHtJnAM39kLA55EiePoqZncTPeEZNTFX7E5xkc3TLAqgJlpjpoH40Qq7cn5gzdZ0Z9YWlOCyIV0Va6Oxc7XJVK/lSzioelseKnz+yscUq8aAJluy1INx7uXEbiPwRNz+bfy5uYOU/Bn/+6/I4Wc3MbvNRdbwF57hXdn6WjD7s+/T65l2PL3iN4MqLRmzuC+BRztOugnWM6s/za7pcA7AP9j367HX0yt/31h9CPIZuGFSItWjmxEFAB7VfCqN+fF7ZisOwGRDJkzzEv6eJbpsCq1m1Jl3TYfQoX96mUh0Pa2frk69enDVSsOkDeQ82DrREf51wdfk6Gs/YmrrVSoaBM0Cm97Ssd7fr2erxTlIdfRvPDN3vncWzsnvVZHkez2owqWV9TEaAgbVsI6myINAX0Ibh8beLkCHjFLXYoOBglNGrc2DC2M9ZBpM18nJ2tZVAva2t53MSFtcRw06xu4E9+ZBMZeVacXM1BA7M6APQVSDwrHJk3BVgaz+Wi+iUFZkmCujI5xS1PNta+iVZ6yJyiMd2l2oLsikcs9qYI94aZvmHYFSxq+LdZfIpov/10dPt800jHDgszKcGJ4rGGZOTFguI7fDPrkkTgihLthRuBGc5umMI4hdJZ4CB1JXCkWK/wk7hdBuMye7VzAEc9XfFflAUb+3H7T1PfhC+MM=
    bucket: dictionary-artifacts
    local-dir: dictionaryutils/artifacts
    upload-dir: datadictionary/$TRAVIS_BRANCH
    skip_cleanup: true
    on:
      repo: uc-cdis/datadictionary
      all_branches: true
  - provider: pypi
    user: uc-ctds
    skip_existing: true
    skip_cleanup: true
    on:
      tags: true
      branch: develop
      repo: uc-cdis/datadictionary
      python: 2.7
    password:
      secure: qeCODwlCx6mECz/ITa6nxWZHcgW26OOkaknoziVbbmYCXTiL/PwjS7k7UJtRPS0TdN5edb99wZRXO/E+VTjmg1mQ9dGG0zztRdvflVzBDxbdNKlMo2ueNgLgL6Acpcf1hgLP9zMCTwiI5CQJmC5pALwPFz5KuMOzbTHs+EaifTRiHFBotPACTUmsFzUJWI91/TT87uBMlXV13CTBuTNhMlbg85ycEXgQNDW7WZZx9GC1dO8DxeFO1Jf2DMTzabqi23SKN+QIO4Q2HZ4f+oW3vCzzaVCW6rJZBhWRCsUsC8UHkAY22qE5/uKiJ0azdmcTLmXQaU1CEkZNNTrmVplp7CfggVj55jar2eSufz7w2hr39t1ouXoQ9tZC6l/v0yvqzvFZN9DYu5uFFm0OI0S2paSLaEW+Luc8yQij/TMDaf6O8gW2/g3uliJtk9aJ25m5n36zfRX5suByvsYtmBIRwdI67NpgqPULYz8UrCoey9b0Kijtv9NletyWcOa1cN4U0fm887zgFGud+2v0ubTaXot/FTWIc+vI6FouIDWxFDqOJvAYL8SezFnxW53sGhru0x8s49zLC/NJau4IPPOcQKAHSxJbDApBAeiFmB28+GIbc3inkY4L91hBQMykHQO+6/ePd2xw6Za7C2W8PHkb47OLRPLrLhjTVUSRSGByNyY=

env:
  global:
  - secure: P/TYBbm9u30RLGrfNVNMm689qOqHJyBniwKITfgPiK3aujeGdT6Z1XDNPYPgwlWKE5kDPSf1ZA3CfTj2rwUOKWfKANeIH7BRLh0n02hIIwAZUiV1u8/5pQk84mDH5UAMtVOwsAbbRof+tvEjjfrr0EmCGnhcbVrXo7f9jIUXiJcRCMdjGgMmmoRu5WQhIyVfK7n+Qr9p84Vml999VFQkiPcmGTrJxbPE6tiTQoWRWc9ak3q/SEmUUP1F31B5FhF74C5B5DKZyq+oEWmzeXe5noleZ0vzW2uy3qupHh2bj+SZC/WcfNRPxMc49Pjc9sa65GgaLsTvww2nQX6Ioycgz7OOiIayJLFOKlvQ4Fahow1zjjUEI4/5y3bL7vhXFLEUn0dxvWXanmWLsO8cmM0NQ/AeXhrd2/2pblVtBVrimzkQydJANgyTCw2E/Wbvxnkxyc5GfttfRKgABJ/mLWNlKQ4RQNhAXmD7CqH9kd7T1+oyiuQTOj6Bu8wN5IsGuqv41k4aufyq5LN+4F9/ugex05NBGtGm6a9byAq7XjOzpvFWoki8kwVIoJie8gA74kUf05iAl0iQVqCMFPrxNyeH2cngZgfi+rs7KhnoJ9ZctqCDHIg75xPt9heskn2pw59VU1tcs1QOmNEynEMsusC/wA/WbBQrx9ppVovqjvCaozg=

after_deploy:
- if [ ! -z $TRAVIS_TAG ]; then pip install gen3git; gen3git release; fi
