-e git+https://git@github.com/NCI-GDC/cdisutils.git@8a8e599fdab5ade9bd8c586132d974a102e5d72d#egg=cdisutils
-e git+https://git@github.com/NCI-GDC/psqlgraph.git@4fbeddeb058ad09741c5d2b9aacbd1c63cfc3dd1#egg=psqlgraph
-e git+https://git@github.com/NCI-GDC/gdcdatamodel.git@7e3f33df5f154291643213c8124df2e1ff8c9030#egg=gdcdatamodel
